{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link href="/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<header id="header">
    <div class="container">
        <div class="logo"><a href="#"><img src="{% static 'images/main_logo_1.png' %}" alt="Sports"
                                           style="width:70px;height:70px;"></a>
<!--            <p style="color:white;margin-left:7px;"><b>CrickNews</b></p>-->
        </div>
        <nav id="nav">
            <div class="opener-holder">
                <a href="#" class="nav-opener"><span></span></a>
            </div>
            <a href="{% url 'userloginform' %}" class="btn btn-primary rounded">Login</a>
            <div class="nav-drop">
                <a href="{% url 'userregsitraion' %}" class="btn btn-primary rounded">SignUp</a>
                <div class="nav-drop">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'teams' %}">Teams</a></li>
                        <li><a href="{% url 'players' %}">Players</a></li>
                        <li><a href="{% url 'matches' %}">Matches</a></li>
                        <li><a href="{% url 'pointstable' %}">Points Table</a></li>
                    </ul>
                    <div class="drop-holder visible-sm visible-xs">
                        <span>Follow Us</span>
                        <ul class="social-networks">
                            <li><a class="fa fa-github" href="#"></a></li>
                            <li><a class="fa fa-twitter" href="#"></a></li>
                            <li><a class="fa fa-facebook" href="#"></a></li>
                        </ul>
                    </div>
                </div>
        </nav>
    </div>
</header>


{% block content %}
{% endblock %}

<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.main.js' %}"></script>

</body>
</html>